*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: system-ui;
  background-color: #080808;
}

p{
    color: #ffffff;
}

span{
    color: #ffffff;
}

.link{
    color: #ffffff;
    background-color: #080808;
    transition: all ease-out 0.5s;
}

.link:hover{
    color: #080808;
    background-color: #ffffff;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
}

.white{
    color: #ffffff;
}